.navbar {
  height: 41px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  /* opacity: 40%; */
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
  /* font-weight: 500; */
  cursor: pointer;
  text-transform: uppercase;
}
.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.evidence-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aqi-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-right: 1rem;
}
.aqi-city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-transform: capitalize;
}
.aqi-city img {
  width: 10px;
}
@media (max-width: 500px) {
  .aqi-container {
    display: none;
  }
}
